* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: #1d1929;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-height: 100vh;
}

img {
    width: 200px;
}

nav {
    padding: 2rem 5rem 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    font-size: 2rem;
}

nav ul li button {
    align-items: center;
    font-size: 1.5rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid #a9d03f;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px #a9d03f;
    cursor: pointer;
}

nav ul li button:hover {
    transform: translate(5px, -5px);
}

nav ul li nav button i {
    font-size: 2rem;
}

.titulo {
    font-size: 2rem;
    text-align: center;
    color: #a9d03f;
}

#startStopBtn {
    display: inline-block;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    font: 2.5rem/14rem 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    border: 0.15em solid #bdff00;
    cursor: pointer;
    animation: downtop 900ms forwards, shadow-pulse 1s 50;
}

#startStopBtn.running {
    margin-top: 2rem;
    color: #fff;
    border: 0.15em solid #ff6060;
    animation: shadow-pulsered 1s 50;
}

#startStopBtn:before {
    content: 'Iniciar';
}

#startStopBtn.running:before {
    content: 'Cancelar';
}
#test {
    margin-top: 2rem;
    margin-bottom: 12rem;
    color: #fff;
}
div.testArea {
    display: inline-block;
    width: 16rem;
    height: 12.5rem;
    position: relative;
    box-sizing: border-box;
}
div.testArea2 {
    display: inline-block;
    width: 14rem;
    height: 7rem;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}
div.testArea div.testName {
    position: absolute;
    top: 0.1rem;
    left: 0;
    width: 100%;
    font-size: 1.4rem;
    z-index: 9;
}
div.testArea2 div.testName {
    display: block;
    text-align: center;
    font-size: 1.4rem;
}
div.testArea div.meterText {
    position: absolute;
    bottom: 1.55em;
    left: 0;
    width: 100%;
    font-size: 2.5em;
    z-index: 9;
}
div.testArea2 div.meterText {
    display: inline-block;
    font-size: 2.5rem;
}
div.meterText:empty:before {
    content: '0.00';
}
div.testArea div.unit {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    z-index: 9;
}
div.testArea2 div.unit {
    display: inline-block;
}
div.testArea canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
div.testGroup {
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
}

#ipArea {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.hidden {
    display: none;
}

/* MODAL */

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    background-color: #1d1929;
    width: 100rem;
    height: 50rem;

    text-align: center;
}

.modal button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    background: none;
    border: none;

    cursor: pointer;
    transition: transform 0.3s;

    box-shadow: none;
}

.modal button:hover {
    transform: scale(1.1);
}

.modal img {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
}

.modal h2 {
    margin-top: 2rem;
    font-size: 5.4rem;
    font-weight: bold;
    color: #fff;
}

.box {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 20rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.modal a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 2rem;

    transition: color 0.3s;
}

.modal a:hover {
    color: #a9d03f;
}

.modal i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#ipArea {
    padding: 0 4rem;
}

@keyframes downtop {
    0% {
        transform: translateY(150px) scale(0.1);
    }

    100% {
        transform: translateY(0px) scale(2);
        margin-top: 12rem;
    }
}
@keyframes downtopMobile {
    0% {
        transform: translateY(150px) scale(0.1);
    }

    100% {
        transform: translateY(0px) scale(2);
        margin-top: 12rem;
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px #bdff00;
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}
@keyframes shadow-pulsered {
    0% {
        box-shadow: 0 0 0 0px #ff6060;
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

@media (max-width: 1000px) {
    nav {
        padding: 2rem 2rem 1rem;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }
    nav ul li button {
        padding: 0.8rem 1rem;
        font-size: 1rem;
        width: 9rem;
    }

    #test {
        font-size: 1rem;
    }

    #startStopBtn {
        margin-top: 2rem;
        animation: downtopMobile 900ms forwards, shadow-pulse 1s 50;
    }

    img {
        width: 125px;
    }

    .modal {
        position: relative;
        background-color: #1d1929;
        width: 35rem;
        height: 60rem;

        text-align: center;
    }

    .box {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }
    .modal h2 {
        margin-top: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
    }

    .modal h3 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0;
        width: 36rem;
        color: #fff;
        margin: 1rem 0;
    }

    .modal a {
        font-size: 2rem;
    }
}
